.header {
    padding: 2rem 0;
    position: relative;
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.wrapper {
    width: 100%;
    max-width: 90vw;
    padding: 0.5rem 2rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo_wrapper {
    flex: 1;
    z-index: 10;
}

.logosvg{
    fill: #fff;
}

.main-navigation {
    flex: 3;
}

.header__menu {
    display: flex;
    align-items: center;
}


.header__menu .header_btn {
    display: inline-flex;
    justify-content: center;
    margin-left: auto;
    padding: 0.5rem 2rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4rem;
    transition: all .5s ease;
}

.header__menu .header_btn:hover {
    background-color: #fff;
}

.header__menu .header_btn a {
    color: #fff;
}

.header__menu .header_btn:hover a {
    color: #030348;
}


@media (max-width: 1024px) {
    .header {
        padding: 1.5rem 0;
    }
}